# Database
POSTGRES_DB=parcelview
POSTGRES_USER=parcelview
POSTGRES_PASSWORD=changeme

# Spring Datasource
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/parcelview
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# App
SERVER_PORT=2320